/* html[data-theme="winter"] {
    --color-primary: #f1f1f2;
    --color-secondary: #a1d6e2;
    --color-buttons: #bcbabe;
    --color-typography: #1995ad;
    } */

    html[data-theme="winter"] {
        --color-primary: #E3E8EF;
        --color-secondary: #D0E7F9;
        --color-tertiary: #F3D1D9;
        --color-buttons: #B7D3C6;
        --color-typography: #5d708b;
        }