.summer-bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: -99;

}

.bubble {
    position: absolute;
    left: -10vw;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    animation: displace 15s ease-in infinite;
    transform-origin: center;
}

@keyframes displace {
    to {
        transform: translate(110vw, 150px) rotate(720deg);
        /* La hoja se mueve lateralmente (100px) y gira 720 grados */
    }
}